<!-- app/templates/app/index.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Titanic Dataset</title>
	</head>
	<body>
		<h1>Titanic Dataset</h1>
		<a href="{% url 'core:upload' %}">Upload New File</a>
		<table>
			<tr>
				<th>Passenger ID</th>
				<th>Name</th>
				<th>Survived</th>
				<th>Action</th>
			</tr>
			{% for passenger in titanic_data %}
			<tr>
				<td>{{ passenger.PassengerId }}</td>
				<td>{{ passenger.Survived }}</td>
				<td>{{ passenger.Pclass }}</td>
				<td>{{ passenger.Name }}</td>
				<td>{{ passenger.Sex }}</td>
				<td>{{ passenger.Age }}</td>
				<td>{{ passenger.SibSp }}</td>
				<td>{{ passenger.Parch }}</td>
				<td>{{ passenger.Ticket }}</td>
				<td>{{ passenger.Fare }}</td>
				<td>{{ passenger.Cabin }}</td>
				<td>{{ passenger.Embarked }}</td>
				<td><a href="{% url 'core:edit' passenger.id %}">Edit</a></td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
